<div class="container-fluid">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-flat-button color="primary" routerLink='/'>Routing</button>
            <button mat-flat-button color="primary" routerLink='dashboard'>Dashboard</button>
            <button mat-flat-button color="primary" routerLink='detail'>Detail</button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="route-container" [@routeAnimations]="prepareOutlet(myOutlet)">
        <router-outlet #myOutlet="outlet"></router-outlet>
    </div>
</div>